@{
    ViewData["Title"] = "Home Page";
}

<div class="fullscreen flex-center">

    <h1 class="logo">TRAVELLER</h1>
    <div class="logo-line anim-expand"></div>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="anim-expand expand-right">Thanks for coming! This webapp was built to help prospective Referees run games of Traveller, a tabletop RPG owned by <a target="_blank" href="https://www.farfuture.net/">Far Future Enterprises</a> and published by <a target="_blank" href="https://www.mongoosepublishing.com/us/rpgs/new-traveller.html?___store=us&___from_store=uk">Mongoose Publishing</a>. I own nothing and built these tools purely as a fan.</p>
            </div>
        </div>
    </div>

</div>