@{
    ViewData["Title"] = "PRIVACY POLICY";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>Traveller and the Traveller logo are owned by <a target="_blank" href="https://www.farfuture.net/">Far Future Enterprises</a>, Inc and published by <a target="_blank" href="https://www.mongoosepublishing.com/us/rpgs/new-traveller.html?___store=us&___from_store=uk">Mongoose Publishing</a>. The images for the planets come courtesy of <a target="_blank" href="https://www.solarsystemscope.com/textures/">Solar System Scope</a> and Tom Patterson at <a target="_blank" href="https://www.shadedrelief.com">Shaded Relief</a>. Skull, Pi, and Sun icon courtesy of <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
            <p>I store none of your information, put no cookies on your computer, and make no money from this app. If you have any questions about the app and your privacy, please feel free to email me at alexbilledeaux@gmail.com.</p>
        </div>
    </div>
</div>